body,
html {
  height: 100%;
  display: grid;
}
body > * {
  margin: auto;
}
.hidden {
  display: none;
}

#game_board {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.bucket {
  max-height: 25em;
  overflow-y: auto;
  padding-right: 0.5em;
  align-self: end;
  justify-self: center;
}

.mdl-button {
  width: 100%;
  margin-bottom: 1em;
}

p,
span {
  text-align: center;
}
